<div class="mt-2 mx-2 flex min-w-[40%] max-w-md flex-col gap-2">
  <div class="flex flex-row gap-2 items-center" *ngFor="let asset of developService.gameAssets | keyvalue">
    <button class="btn btn-primary" (click)="developService.downloadAsset(asset.key)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
      </svg>
    </button>
    <button class="btn btn-warning" (click)="confirmMoveAsset(asset.key)">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
      </svg>
    </button>
    <button class="btn btn-error" (click)="developService.removeAsset(asset.key)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
    </button>
    <div>{{asset.key}}</div>
  </div>
  <button class="btn btn-success w-[11.8rem]" (click)="developService.addAsset()">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>
<dialog *ngIf="moveAssetPathFrom !== undefined" class="modal modal-open modal-bottom sm:modal-middle">
  <form (ngSubmit)="moveAsset(moveAssetPathFrom, moveAssetPathTo)" method="dialog" class="modal-box">
    <div class="form-control w-full">
      <span>Move "{{moveAssetPathFrom}}"?</span>
      <input type="text" placeholder="Type here" class="input input-bordered w-full my-2" [(ngModel)]="moveAssetPathTo" [ngModelOptions]="{standalone: true}" autofocus />
      <button type="submit" class="btn btn-warning">Move</button>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button type="button" (click)="moveAssetPathFrom = undefined">close</button>
  </form>
</dialog>
