<button class="btn btn-secondary" (click)="leave()">Leave</button>
<ul *ngFor="let user of getUsers()">
  <li class="flex flex-row">
    {{user.name}}
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg>
    {{user.ping}}ms
  </li>
</ul>
<h1 *ngIf="!isHost()" class="text-lg font-bold">Game: {{roomState?.selectedGame?.name}}</h1>
<div *ngIf="isHost()">
  <select class="select select-bordered w-full max-w-xs" (change)="changeGameType($event.target)">
    <option *ngFor="let gameType of getGameTypes() | async | keyvalue" [selected]="gameType.value.id === roomState?.selectedGame?.id" [value]="gameType.key">{{gameType.value.name}}</option>
  </select>
  <button class="btn btn-primary" (click)="startGame()">Start</button>
</div>
