<div class="flex flex-col min-h-screen" *ngIf="logic">
  <!-- <div class="tabs">
    <a class="tab tab-lg tab-lifted">Large</a>
    <a class="tab tab-lg tab-lifted tab-active">Large</a>
    <a class="tab tab-lg tab-lifted">Large</a>
  </div> -->
  <div class="dropdown">
    <button class="btn">Actions</button>
    <ul class="dropdown-content rounded p-1 shadow bg-base-100">
      <div class="flex flex-col gap-1 py-1">
        <div class="form-control" *ngFor="let action of this.game.gameActionMaps | keyvalue">
          <button *ngIf="action.key !== activeAction" class="btn btn-sm w-full" (click)="changeAction(action.key)">{{action.key}}</button>
          <div *ngIf="action.key === activeAction" class="input-group input-group-sm">
            <input type="text" placeholder="Name" class="input input-bordered input-sm flex-grow" [(ngModel)]="changeActiveName" (change)="changeActionName()" />
            <button class="btn btn-square btn-sm btn-error" (click)="deleteAction()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </button>
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-sm w-full" (click)="addAction()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
          </svg>
        </button>
      </div>
    </ul>
  </div>
  <!-- <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <input type="checkbox" class="peer" />
        <div class="collapse-title text-xl font-medium">
          Actions
        </div>
        <div class="collapse-content">
          <div class="flex flex-col gap-1 py-1">
            <div class="form-control" *ngFor="let action of this.game.gameActionMaps | keyvalue">
              <button *ngIf="action.key !== activeAction" class="btn btn-sm w-full" (click)="changeAction(action.key)">{{action.key}}</button>
              <div *ngIf="action.key === activeAction" class="input-group input-group-sm">
                <input type="text" placeholder="Name" class="input input-bordered input-sm flex-grow" [(ngModel)]="changeActiveName" (change)="changeActionName()" />
                <button class="btn btn-square btn-sm btn-error" (click)="deleteAction()">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </button>
              </div>
            </div>

            <button type="submit" class="btn btn-success btn-sm w-full" (click)="addAction()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <button class="btn" (click)="parse()">Parse</button>
      <button class="btn" (click)="load()">Load</button>
      <button class="btn" (click)="save()">Save</button>
      <button class="btn" (click)="compile()">Compile</button>
      <button class="btn" (click)="run()">Run</button>
    </div>

  </div> -->

  <div class="flex flex-grow">
    <div class="flex flex-grow flume-container" [reactComponent]="NodeEditor" [props]="config"></div>

  </div>
</div>
